.venv/*
venv/*
.idea/*
__pycache__/*

config.ini
Meshes/Alien Face.log
Meshes/Alien Face.ply
Meshes/Alien Face.png
Meshes/Alien Face_texture_fit.log
Meshes/Alien Face_texture_fit.ply
*.png
*.ply
*.log
*.jpg